name: Notify

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

jobs:
  tweet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Identify current version
        id: current_version
        uses: christian-draeger/read-properties@1.0.0
        with:
          path: './gradle.properties'
          property: 'release_version'
      - name: send tweet
        uses: ethomson/send-tweet-action@v1
        with:
          status: Hi, this is a test! ${{ steps.current_version.outputs.value }} release notification
          consumer-key: ${{ secrets.TWITTER_CONSUMER_API_KEY_SKRAPE_IT }}
          consumer-secret: ${{ secrets.TWITTER_CONSUMER_API_SECRET_SKRAPE_IT }}
          access-token: ${{ secrets.TWITTER_ACCESS_TOKEN_SKRAPE_IT }}
          access-token-secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET_SKRAPE_IT }}
